{%extends 'mainapp/base.html'%}

{%block content%}
<div class="jumbotron">
    <h1 class="display-3">About us</h1>
    <p class="lead text-info">This project was created by</p>
</div>

  <div class="container">
      <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title">Rebecca Dias</h4>
                  <a href="https://github.com/rebeccadias" class="btn btn-primary">Github</a>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title">Alan Dsilva</h4>
                  <a href="https://github.com/DeathBringer269" class="btn btn-primary">Github</a>
                </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>
      </div>
  </div>
{% endblock %}